body{
    background-image: url(Cats-arriving.jpeg);
    animation: ease 10s normal bgchange infinite;
    background-size: cover;
}
*{
    transition: ease 2s;
}
@font-face {
    font-family: "fancyfont";
    src: url(font01.woff);
}
@keyframes bgchange{
    0%, 100%{
        background-image: url(Cats-arriving.jpeg);
    }
    33%{
        background-image: url(Leading-Platform.jpeg);
    }
    50%{
        background-image: url(hotels.svg);
    }
    66%{
        background-image: url(Leading-Platform.jpeg);
    }
}
@keyframes darkmodebg{
    0%, 100%{
        background-image: url(Hotel-night.jpeg);
    }
    50%{
        background-image: url(IMG_7103.jpeg);
    }
}
@keyframes pulse{
    0%,100%{
        scale: 1;
        background-color: green;
        color:white;
    }
    50%{
        scale: 1.5;
        background-color: #800080;
        color:black;
    }
}
#game-name{
    h1{
        font-family: cursive;
    }
    h2{
        font-family: fancyfont, Georgia, 'Times New Roman', Times, serif;
    }
}
#bar{
    background-color: gray;
    height: 20px;
    width:70%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    unicode-bidi: isolate;
    @starting-style{
        width:0;
    }
}
#bar #play1{
    border-radius: 10px;
    display:block;
    width:0%;
    background-color: yellow;
    z-index: 1000;
    height: 20px;
    
}
#bar #play2{
    border-radius: 10px;
    display:block;
    width:0%;
    background-color: blue;
    z-index: 1000;
    height: 20px;
    
}
#player1, #player2{
    background-color: white;
    button{
        animation: pulse 1s infinite;
    }
    button:disabled{
        color: white;
    }
}
#player1{
    float: left;
}
#player2{
    float:right;
}

/* ******Dark Mode CSS****** */
@media (prefers-color-scheme: dark) {

    body{
        color:white;
        background-image:url(Hotel-night.jpeg);
        animation: ease 10s normal darkmodebg infinite;
    }
    #player1, #player2{
        background-color: black;
        button:disabled{
        color: black;
    }

    }
}